			/* 初始化 */
body, div, p, aside, label {
	margin: 0;
	padding: 0;
}
body {
	font-size: 12px;
	font-family: 'SimHei', 'sans-serif';
	background-color: #12131a;
}
ul, ol {
	list-style: none;
}
input, button {
	outline-style: none;
	border: none;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}
select {
	padding: 0;
}

			/* 公共类 */
@font-face {
	font-family: "iconfont";
	src: url('fonts/iconfont.eot?t=1500269472961'); /* IE9*/
	src: url('fonts/iconfont.eot?t=1500269472961#iefix') format('embedded-opentype'), /* IE6-IE8 */
  		 url('fonts/iconfont.woff?t=1500269472961') format('woff'), /* chrome, firefox */
  		 url('fonts/iconfont.ttf?t=1500269472961') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  		 url('fonts/iconfont.svg?t=1500269472961#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
	font-family:"iconfont" !important;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

.icon-zhanghu::before { content: "\e65e"; }
.icon-yonghu::before { content: "\e653"; }
.icon-fdj::before { content: "\e637"; }
.icon-mychart::before { content: "\e6a5"; }
.icon-briefcase::before { content: "\e68c"; }
.icon-file::before { content: "\e63b"; }
.icon-collection::before { content: "\e64a"; }
.icon-share::before { content: "\e642"; }
.icon-accout::before { content: "\e65e"; }
.icon-calender::before { content: "\e619"; }
.icon-right::before { content: "\e652"; }
.icon-left::before { content: "\e60a"; }
.icon-triangle::before{
	content: '';
	width: 0;
	height: 0;
	border: transparent solid 3px;
	border-top: orange 5px solid;
	position: absolute;
	top: 50%;
	margin-top: -2px;
	left: 50%;
	margin-left: -3px;
}




.container {
	width: 1280px;
	margin: 0 auto;
}
.row {
	width: 894px;
	margin: 0 auto;
}
.fl-l{float: left;}
.fl-r {float: right;}
.clearfix::after {
	content: ' ';
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
.radio-link, .a-link {position: relative;}
.radio-link > input[type="radio"],
.a-link > a {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}


			/* header部分开始 */
#header {
	height: 55px;
	background-color: #2189bf;
	color: #fff;
	min-width: 1280px;
}
#header > .container {
	height: 55px;
	padding-left: 40px;
	padding-right: 70px;
	width: 1170px;
}
#header > .container > .logo {
	width: 35px;
	height: 35px;
	background-color: #fff;
	position: relative;
	float: left;
	margin: 10px;
}
#header > .container > .logo::before {
	content: '';
	width: 17px;
	height: 17px;
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	border-top: 3px solid #2189bf;
	border-left: 3px solid #2189bf;
	background-color: #fff;
	box-sizing: border-box;
}

#header > .container > .fl-r > .srh {
	float: left;
	line-height: 26px;
	position: relative;
	margin-top: 14px;
}
#header > .container > .fl-r > .srh > i {
	position: absolute;
	width: 24px;
	color: #ababab;
	text-align: center;
	padding-top: 1px;
}
#header > .container > .fl-r > .srh::before, 
#header > .container > .fl-r > .srh::after {
	content: '';
	width: 13px;
	height: 26px;
	background-color: #fff;
}
#header > .container > .fl-r > .srh::before {border-radius: 13px 0 0 13px;float: left;}
#header > .container > .fl-r > .srh::after {border-radius: 0 13px 13px 0; float: right;}
#header > .container > .fl-r > .srh > #search {
	height: 26px;
	width: 256px;
	line-height: 26px;
	vertical-align: top;
	padding-left: 30px;
}
#header > .container > .fl-r > .login {
	float: left;
	line-height: 55px;
	font-size: 12px;
	margin: 0 20px;
}


			/* aside部分开始 */
#main > .container {
	background-color: #eeeeed;
}
#aside {
	width: 260px;
	background-color: #2a2e3d;
	color: #6e8095;
	font-weight: 400;
}
#user-info {
	padding: 18px 0;
	padding-left: 45px;
}
#user-info > .user-info-top {
	overflow: hidden;
	margin-bottom:18px;
}
#user-info > .user-info-top > .mask {
	height: 50px;
	width: 50px;
	padding: 3px;
	border: 1px solid #fff;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 18px ;
	float: left;
}
#user-info > .user-info-top > .mask > .avatar {
	height: 50px;
	width: 50px;
	display: block;
	background-color: #b9babe;
	border-radius: 50%;
	border: 0;
}
#user-info > .user-info-top > #username {
	line-height: 58px;
	color: #f6f5f5;
	font-size: 16px;
	float: left;
	width: 139px;
	float: left;
}
#user-info > .user-info-btm {
	padding: 5px 0;
	overflow: hidden;
}
#user-info > .user-info-btm > p {
	width: 58px;
	text-align: center;
	padding-right: 14px;
	float: left;
	line-height: 14px;
	font-family: 'SimSun', 'sans-serif';
	height: 28px;
}
#user-info > .user-info-btm > p > span {
	font-family: 'SimHei', 'sans-serif';
	font-size: 16px;
}
#user-info > .user-info-btm > p:last-child{
	border-left: 2px solid #313545;
	padding: 0 0 0 14px;
}



			/* 文件目录部分开始 */
input[name='dir-0'] + div > p > i[class*='icon-'] {margin-right: 12px;}
#aside input[type='radio']:checked + div > p {color: #ededf0;}


#mychart {background-color: #2a2e3d;}
#mychart .dropdown {display: none;}
#mychart p {line-height: 30px;}
#mychart input {height: 30px;}
#mychart ul {padding-left: 20px;margin: 0;}
#mychart > .radio-link > div {padding: 5px 0 5px 45px;}
#mychart > .radio-link > input#directory:checked + div {background-color: #383d4e;}  
#mychart input[type='radio']:checked+div > .dropdown {display: block;}
#mychart input[name='dir-1'] + div > p::before {
	font-family: 'iconfont';
	content: "\e652";
	margin-right: 5px;
	font-size: 8px;
}
#mychart input[name='dir-1']:checked + div > p::before {content: "\e69c";}
#mychart input[name='dir-1'] + div > p > .icon-briefcase {margin-right: 8px; font-size: 8px;}
#mychart input[name='dir-2'] + div > p > .icon-file {margin-right: 3px;padding-left:12px;}

#mycollection, #myshare, #mygallery, #mygrowup, #myaccount {
	background-color: #2a2e3d;
	padding: 5px 0 5px 45px;
	line-height: 36px;
}


			/* div#mainsect部分开始 */
#mainsect {
	width: 1020px;
	background-color: #eeeeed;
	min-height: 1210px;
	height: 100%;
	border-left: 260px solid #2a2e3d;
}

#path {
	height: 30px;
	line-height: 30px;
	background-color: #fff;
	color: #aaaaaa;
	padding-left: 30px;
}
#path > span+span:before{
	content: '/';
	margin: 0 5px;
}
#path > span:last-child {
	color: #6898c2;
}

			/* query和schedule */
#sect-1 {margin: 20px 0;}
#sect-1 > .row {
	color: #aaaaaa;
}
#sect-1 > .row > form {
	width: 888px;
	border: #dddee1 solid 1px;
	height: 54px;
	background-color: #fff;
	padding: 15px 0;
	margin: 0 2px;
}
#sect-1 select, #datequery select {
	border: 1px solid #c3c3c4;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	font-family: 'SimHei', 'sans-serif';
	font-size: 12px;
	outline-style: none;
	padding-left: 5px;
	border-radius: 0;
	text-align: left;
}
#sect-1 select {
	height: 25px;
	padding-right: 20px;
	background: url('images/unfold.png')
				top right no-repeat;
	margin: 0 10px 5px 10px;
}

#sect-1 select > option {
	padding: 6px 0 6px 5px ;
}
#sect-1 > .row > form > div {
	padding-left: 30px; 
	float: left;
	line-height: 25px;
}
#sect-1 > .row > form  #queryitem {
	padding-left: 10px;
	width: 70px;
}
#sect-1 > .row > form > .form-2 {
	position: relative;
	padding-right: 12px;
}
#sect-1 > .row > form > .form-2::after{
	content: '换';
	color: #fff;
	background: url('images/change.png')
				no-repeat top left;
	position: absolute;
	height: 38px;
	width: 14px;
	padding-left: 14px;
	line-height: 38px;
	top: 8px;
	left: 190px;
}
#sect-1 > .row > form > .form-2 > select {
	width: 120px;
}

#sect-1 > .row > form > .form-3 > #date {width: 120px; background: none;}
#sect-1 > .row > form > .form-3 > #time {width: 70px;}
#sect-1 > .row > form > .form-3 > #amount {width: 70px;}
#sect-1 > .row > form > .form-3 > #deal {width: 120px;}

#sect-1 > .row > form > .submit > input[type='submit'] {
	height: 25px;
	width: 50px;
	background-color: #388ac1;
	color: #fff;
	margin-top: 16px;
}

			/* sect-1的价格标签 */

#sect-1 > .row > #pricebox {
	margin: 10px auto 0 auto;
	text-align: center;
	font-family: 'Microsoft YaHei', 'sans-serif';
	overflow: hidden;
	padding: 0 2px;
}
#sect-1 > .row > #pricebox > .historyquery {
	width: 129px;
	height: 65px;
	background-color: #fff;
	line-height: 65px;
	box-shadow: -1px -1px 2px 0px #dddee0;
	margin: 2px 0;
}
#sect-1 > .row > #pricebox > .historyquery > .icon-calender {
	color: #4388c8;
	font-size: 30px;
	float: left;
	vertical-align: middle;
	margin-left: 19px;
}
#sect-1 > .row > #pricebox > .historyquery > p {
	color: 535353;
	vertical-align: middle;
	margin-left: 12px;
	float: left;
}
#sect-1 > .row > #pricebox > .pricebox > .pricetag {
	float: left;
	height: 51px;
	padding-top: 14px;
	width: 110px;
	/* border-top: 1px solid #dddee0;
	border-left: 1px solid #dddee0; */
	box-shadow: -1px -1px 2px 0px #dddee0;
	background-color: #fff;
	margin: 2px 0;
	margin-right: 5px;
}
#sect-1 > .row > #pricebox > .pricebox > .pricetag.current {
	border-top: 4px solid #4388c8;
	padding-top: 10px;
	height: 51px;
}
#sect-1 > .row > #pricebox > .pricebox > .pricetag > p:first-child {
	color: #323333;
	line-height: 9px;
	margin-bottom: 13px;
}
#sect-1 > .row > #pricebox > .pricebox > .pricetag > .price {
	font-size: 21px;
	color: #ec6500;
	line-height: 16px;
}
#sect-1 > .row > #pricebox > .pricebox > .pricetag > .price::before {
	font-family: 'iconfont';
	content: '\e618';
	color: #afafae;
	font-size: 12px;
	font-weight: 700;
}
#sect-1 > .row > #pricebox > .pricebox::before,
#sect-1 > .row > #pricebox > .pricebox::after {
	height: 65px;
	line-height: 65px;
	box-shadow: -1px -1px 2px 0px #dddee0;
	background-color: #fff;
	float: left;
	width: 30px;
	font-family: 'iconfont';
	margin: 2px 0;
	margin-right: 5px;
	font-size: 20px;
}
#sect-1 > .row > #pricebox > .pricebox::before {content: '\e60a';}
#sect-1 > .row > #pricebox > .pricebox::after {content: '\e652';}


			/* sect-2部分开始 */
#sect-2 > .row > .statistic {}
#sect-2 > .row > .statistic > p {
	height: 15px;
	padding-bottom: 5px;
	color: #323333;
	font-family: 'Microsoft YaHei', 'sans-serif';
}
#sect-2 > .row > .statistic > .statisticbox {
	overflow: hidden;
	padding: 0 2px;
}
#sect-2 > .row > .statistic > .statisticbox > div {
	height: 68px;
	/* border: solid 1px #d8d8db; */
	border-left: 4px solid;
	width: 196px;
	float: left;
	color: #b7b7b7;
	background-color: #fff;
	box-shadow: 0 0 2px 1px #d8d8db;
	margin: 2px 0;
}
#sect-2 > .row > .statistic > .statisticbox > div > p:first-child {
	float: left;
	margin: 0 0 0 8px;
}
#sect-2 > .row > .statistic > .statisticbox > div > p:first-child > .data-num {
	color:#323333;
	display:block;
	line-height: 42px;
}
#sect-2 > .row > .statistic > .statisticbox > div > p:last-child {
	float: right;
	width: 60px;
	height: 46px;
	margin: 11px 15px 11px 0;
	background-color: orange;
}
#sect-2 > .row > .statistic > .statisticbox > div+div {margin-left: 30px;}

#sect-2 > .row > .statistic > .statisticbox > div:nth-of-type(1){border-left-color:#43b29e;}
#sect-2 > .row > .statistic > .statisticbox > div:nth-of-type(1) > p+p {background-color: #43b29e;}

#sect-2 > .row > .statistic > .statisticbox > div:nth-of-type(2){border-left-color:#388ac1;}
#sect-2 > .row > .statistic > .statisticbox > div:nth-of-type(2) > p+p {background-color: #388ac1;}

#sect-2 > .row > .statistic > .statisticbox > div:nth-of-type(3){border-left-color:#d04a36;}
#sect-2 > .row > .statistic > .statisticbox > div:nth-of-type(3) > p+p {background-color: #d04a36;}

#sect-2 > .row > .statistic > .statisticbox > div:nth-of-type(4){border-left-color:#e2cd47;}
#sect-2 > .row > .statistic > .statisticbox > div:nth-of-type(4) > p+p {background-color: #e2cd47;}


			/* #sect-3部分开始 */
			/* #sect-3公共类 */
#sect-3 .template {
	height: 355px;
	background-color: #fff;
	float: left;
	border-radius: 5px;
	box-shadow: 0 0 2px 1px #d0d2d6;
	overflow: hidden;
}
#sect-3 .template > p {
	background-color: #f4f5f6;
	border-bottom: #e7e9eb 1px solid;
	line-height: 39px;
	padding-left: 20px;
	color: #aaaaaa;
	margin-bottom: 12px;
}

			/* #sect-3部分top-l */
#sect-3 > .row > .top {
	margin: 15px 0 10px 0;
	padding: 2px;
	overflow: hidden;
}

#sect-3 > .row > .top >.top-l {
	width: 530px;
	margin-right: 10px;
}

#sect-3 > .row > .top > .top-l > .tabpage {position: relative;}
#sect-3 > .row > .top > .top-l > .tabpage > input,
#sect-3 > .row > .top > .top-l > .tabpage > input+div > label {
	position: absolute;
	top: 0;
	width: 80px;
	height: 25px;
	background-color: #ededf0;
	text-align: center;
	line-height: 25px;
	border-radius: 3px 3px 0 0;
	left: 20px;
	border: 1px solid #ededf0;
	font-family: 'Microsoft YaHei', 'sans-serif';
	color: #535353;
} 
#sect-3 > .row > .top > .top-l > .tabpage > input:nth-of-type(2),
#sect-3 > .row > .top > .top-l > .tabpage > input:nth-of-type(2)+div > label{left: 105px;}
#sect-3 > .row > .top > .top-l > .tabpage > input:nth-of-type(3),
#sect-3 > .row > .top > .top-l > .tabpage > input:nth-of-type(3)+div > label{left: 190px;}
#sect-3 > .row > .top > .top-l > .tabpage > input:nth-of-type(4),
#sect-3 > .row > .top > .top-l > .tabpage > input:nth-of-type(4)+div > label{left: 275px;}
#sect-3 > .row > .top > .top-l > .tabpage > input:nth-of-type(5),
#sect-3 > .row > .top > .top-l > .tabpage > input:nth-of-type(5)+div > label{left: 360px;}

#sect-3 > .row > .top > .top-l > .tabpage > div > div {
	height: 222px;
	width: 452px;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	margin: 25px 0 0 20px;
	border-radius: 0 3px 3px 3px;
	border: #cbcbcb 1px solid;
	padding: 28px 0 0 36px;
}
#sect-3 > .row > .top > .top-l > .tabpage > div > div > table {
	border-collapse: collapse;
	color: #535353;
	font-family: 'SimSun', 'sans-serif';
}
#sect-3 > .row > .top > .top-l > .tabpage > div > div > table td {
	border: 1px solid #cbcbcb;
	height: 28px;
	width: 99px;
	text-align: center;
}
#sect-3 > .row > .top > .top-l > .tabpage > div > div > table td.selected {background-color: #f4f5f6;}
#sect-3 > .row > .top > .top-l > .tabpage > input:checked+div > div{z-index: 2;}
#sect-3 > .row > .top > .top-l > .tabpage > input:checked+div > label { 
	background-color: #fff; 
	z-index: 3;
	border-color: #cbcbcb;
	border-bottom: 0;
}


			/* sect-3部分top-r */
#sect-3 > .row > .top > .top-r {width: 350px;}
#sect-3 > .row > .top > .top-r > .projectinfo {
	font-family: 'Microsoft YaHei', 'sans-serif';
	color: #535353;
	width: 280px;
	margin: 0 auto;
	line-height: 20px;
}
#sect-3 > .row > .top > .top-r > .projectinfo > div {
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	padding-left: 14px;
}
#sect-3 .top-r .pjt-price, #sect-3 .top-r .pjt-incharge {float: left;}
#sect-3 .top-r .pjt-price {width: 65px;border-right:1px solid #ddd;}
#sect-3 .top-r .pjt-incharge {width: 186px;}
#sect-3 .top-r .pjt-desc {height: 145px; clear:both;}
#sect-3 > .row > .top > .top-r > .projectinfo > .pjt-confirm {
	border:0;
	overflow: hidden;
	padding-top: 5px;
	padding-left: 0;
}
#sect-3 .top-r .pjt-confirm > div > input[type='checkbox'],
#sect-3 .top-r .pjt-confirm > div > input[type='checkbox']+i {
	margin-left: 3px;
	margin-right: 5px;
	width: 12px;
	height: 12px;
	display: inline-block;
	vertical-align: middle;
	background-color: #d6d6d6;
	font-size: 12px;
	line-height: 12px;
	color: transparent;
}
#sect-3 .top-r .pjt-confirm > div > input[type='checkbox'] {
	position: absolute; 
	margin-top:5px;
	opacity: 0;
}
#sect-3 .top-r .pjt-confirm > div > input[type='checkbox']:checked + i {
	color: #000;
}
#sect-3 .top-r .pjt-confirm > div > input[type='checkbox']+i {margin-top:-2px;}
#sect-3 .top-r .pjt-confirm > div > input[type='submit'] {
	background-color: #388bc2;
	color: #fff;
	padding: 0 12px;
	border-radius: 2px;
	font-family: 'SimHei', 'sans-serif';
	font-size: 12px;
	height: 25px;
	line-height: 25px;
}
#sect-3 .top-r .pjt-confirm > div:first-child{float: left; position: relative;}
/* #sect-3 .top-r .pjt-confirm > div:first-child > i */
#sect-3 .top-r .pjt-confirm > div:last-child{float: right;}
#sect-3 > .row > .top > .top-r > .projectinfo > div > span,
#sect-3 .projectinfo .pjt-confirm label {
	color: #c3c2c2;
	display: inline-block;
}

			/* sect-3部分btm-l*/
#sect-3 > .row > .bottom {padding:2px; overflow: hidden;}
#sect-3 > .row > .bottom > .btm-l {
	width: 350px;
	margin-right: 10px;
}
#sect-3 > .row > .bottom > .btm-l > p{margin-bottom: 10px;}
#sect-3 > .row > .bottom > .btm-l > #calender { padding: 0 20px; }
#datequery {
	overflow: hidden;
	padding: 0 2px;
}
#datequery > div {
	float: left; 
	margin-bottom: 8px;
	overflow: hidden;
	border: 1px solid #c3c3c4;
	position: relative;
}
#datequery > div.year > select{width: 62px;}
#datequery > div.month > select{width: 46px;}
#datequery > div.day > select{width: 73px;}

#datequery > div + div {margin-left:6px;}
#datequery > div > .icon-triangle {
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 20px;
	overflow: hidden;
	border-left: 1px solid #f6f7f8;
}
#datequery > div > .icon-triangle::before {border-top-color: #c3c3c4;}
#datequery > div > button {
	background-color: #fff;
	font-family: 'SimHei', 'sans-serif';
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	width: 62px;
}
#datequery > div > select {
	height: 20px;
	padding-right: 19px;
	border: 0;
	padding: 0 19px 0 0px;
}
#datequery > div::after {
	height: 20px;
	width: 19px;
	border-left: 1px solid #f6f7f8;
}
#datequery > div.month > select {float: left;}
#datequery > div.month > i {
	width: 18px;
	height: 20px;
	color: #f6f7f8;
	float: left;
	line-height: 20px;
	cursor: pointer;
	text-align: center;
	font-size: 8px;
}
#datequery > div.month > i.icon-right {border-left:1px solid #f6f7f8;}
#datequery > div.month > i.icon-triangle {
	right: 19px;
	border: 0;
}
#calendertable {border-spacing: 2px; }
#calendertable td {
	width: 39px;
	height: 39px;
	border: 1px solid transparent;
	text-align: center;
}
#calendertable > thead {}
#calendertable > thead > tr > th {
	font-weight: 400;
	border-top: 1px solid #a9cfec;
	border-bottom: 1px solid #e1e1e2;
	overflow: hidden;
	padding: 0;
}
#calendertable > thead > tr > th > span {
	float: left;
	width: 41px;
	height: 29px;
	line-height: 29px;
	margin: 0 1px;
}
#calendertable > tbody > tr > td > span {
	display: block;
}
#calendertable > tbody > tr > td.mark {border-color: #f6c62b;}
#calendertable > tbody > tr > td:nth-of-type(n+6) > .num,
 #calendertable > tbody > tr > td > .fest {color: #cd3539;}



			/* sect-3部分btm-r*/
#sect-3 > .row > .bottom > .btm-r {
	width: 530px;
}
#sect-3 > .row > .bottom > .btm-r > div {padding-left: 40px;padding-top: 6px;}
#sect-3 > .row > .bottom > .btm-r > div > #mobiletable {
	border-collapse: collapse;
	width: 450px;
	margin-top: 6px;
}
#mobiletable th {font-size: 13px;}
#mobiletable td, #mobiletable th {
	height: 23px;
	border: 1px solid #c3c4c4;
	padding: 0;
	font-weight: 400;
	text-align: center;
}
#mobiletable td:nth-of-type(1), 
#mobiletable th:nth-of-type(1) {width: 66px;}
#mobiletable td:nth-of-type(2), 
#mobiletable th:nth-of-type(2) {width: 90px;}
#mobiletable td:nth-of-type(3), 
#mobiletable th:nth-of-type(3) {
	width: 80px;
	text-align: right;
	border-right:0;
	padding-right: 5px;
}
#mobiletable td:nth-of-type(4), 
#mobiletable th:nth-of-type(4) {border-left: 0;}
#mobiletable td > div {
	margin:0 18px;
	width: 170px;
	height: 4px;
	background-color: #dcdcdc;
	position: relative;
	overflow: hidden;
}

#mobiletable td > div::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #7ecaef;
}
#mobiletable > tbody > tr:nth-of-type(1) > td > div::before {
	background-color: #ed6e52;
	left: -27px;
}
#mobiletable > tbody > tr:nth-of-type(2) > td > div::before {
	background-color: #ef8150;
	left: -46px;
}
#mobiletable > tbody > tr:nth-of-type(3) > td > div::before {
	background-color: #f19e4f;
	left: -63px;
}#mobiletable > tbody > tr:nth-of-type(4) > td > div::before {
	left: -70px;
}#mobiletable > tbody > tr:nth-of-type(5) > td > div::before {
	left: -81px;
}#mobiletable > tbody > tr:nth-of-type(6) > td > div::before {
	left: -87px;
}#mobiletable > tbody > tr:nth-of-type(7) > td > div::before {
	left: -93px;
}#mobiletable > tbody > tr:nth-of-type(8) > td > div::before {
	left: -103px;
}#mobiletable > tbody > tr:nth-of-type(9) > td > div::before {
	left: -108px;
}#mobiletable > tbody > tr:nth-of-type(10) > td > div::before {
	left: -113px;
}
#mobiletable > tbody > tr:hover{
	background-color: #f3f5f6;
	cursor: pointer;
}