<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="libs/todomvc-common/base.css">
		<link rel="stylesheet" href="libs/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<section class="todoapp" ng-app="todoMvc" ng-controller="mainCtrl">
			<header class="header">
				<h1>todos</h1>
				<form ng-submit="add()">
				<input class="new-todo" placeholder="What needs to be done?" ng-model="text" autofocus>
				</form>
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main">
				<input class="toggle-all" type="checkbox"  ng-checked="toggleAll()">
				<label for="toggle-all" ng-click="toggleAll()">Mark all as complete</label>
				<ul class="todo-list">
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
					<li  ng-repeat="item in todoshow" ng-class="{completed: item.completed, editing:  item.id === editingId}" ng-dbclick="textEditingID(item.id)">
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="item.completed">
							<label ng-dblclick="textEditingID(item.id)"> {{item.text}} </label>
							<button class="destroy" ng-click="remove(item.id)"></button>
						</div>
						<form ng-submit="removeEditingID()">
							<input class="edit" ng-model="item.text" >
						</form>
					</li>
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer class="footer" ng-show="todoall.length">
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{todoshow.length}}</strong> item left</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a ng-class="{selected: filterSelect==='all'}" href="#/" ng-click="filters('all')">All</a>
					</li>
					<li>
						<a href="#/active" ng-class="{selected: filterSelect==='active'}" ng-click="filters('active')">Active</a>
					</li>
					<li>
						<a href="#/completed" ng-class="{selected: filterSelect==='completed'}" ng-click="filters('completed')">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed" ng-click="delete()" ng-show="showClearComplete()">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<!-- <script src="libs/angular/angular.min.js"></script> -->
		<!-- <script src="js/app.js"></script> -->
	</body>
</html>
